




.container {
  display: grid;
  place-items:center;
  max-width: 100%;
  max-height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 65px 1fr 100px; 
  place-items: center;
}

.break {
  display: grid;
  width: 30em;
  min-height: 200em;
  background: rgb(2, 38, 2);
  background: cover;
  grid-area: 1 / 2;
  z-index: -7;
}

/*magic 8 ball duct tape*/

.main {
    max-width: 100%;
    max-height: 100%;
    padding-top: 1em;
    border-radius: 50%;
    grid-area: 2 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}
.circle {
    width: 400px;
    height: 400px;
    background: linear-gradient(#111115 0%,
    #161618 80%,
    #1d1d20 55%,
    #161618 60%);
    border-radius: 50%;
    grid-area: 1 / 1;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
.circle::before {
  content: "";
  width: 400px;
  height: 300px;
  background: linear-gradient(#4a4a4e 10%,
  #18181a 30%,
  #020208 80%);
  border-radius: 50%;
  filter: blur(18px);
  grid-area: 1 / 1;
}

.circle::after {
  content: "";
  width: 15px;
  height: 10px;
  background: rgba(0, 0, 0, 0.415);
  border-radius: 10%;
  bottom: 10%;
  filter: blur(20px);
  grid-area: 1 / 1;
}

.small-circle {
    width: 150px;
    height: 150px;
    background: rgb(4, 12, 49);
    border-radius: 50%;
    grid-area: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medium-circle {
  width: 155px;
  height: 155px;
  background: rgb(242, 243, 245);
  border-radius: 50%;
  grid-area: 1 / 1;

}

.outlinetriangle {
  margin-top: 38px;
  height: 0;
  width: 0;
  border-top: 80px solid #2e48c9;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  grid-area: 1 / 1;
  scale: 120%;
}

.triangle {
  margin-top: 38px;
  margin-bottom: 2px;
  height: 0;
  width: 0;
  border-top: 80px solid #1b35b2;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  grid-area: 1 / 1;
  scale: 108%;
}


.triangle:before {
  content:"";
  position: absolute;
  top:-70px;
  right: 15px;
  height:0;
  width: 100%;
}

.tbox {
  align-items: center;
  width: 70px;
  height: 55px;
  margin-top: 15px;
  padding-bottom: 10px;
  z-index: 1;
  grid-area: 1 / 1;
  color:rgb(224, 226, 228);
  font-size: small;
  text-align: center;

}

.input-control {
  grid-area: 3/2/3/2;
  display: grid;
  place-items: center;
}

.input {
  width: 250px;
  border: 1.5px solid #2d2c2c;
  background-color: rgb(212, 231, 238);
  text-align: center;
}


.btn-shake-it {
  padding-top: 3px;
  background-color: orange;
  border: 2px solid #000000;
  border-radius: 25%;
  width: 40%;
  font-weight: bolder;
}


/*error&success input*/

.input-control small {
  visibility: hidden;
  padding-bottom: 3px;
}

.input-control.error input {
  border-color: red;
}

.input-control.error small {
  visibility: visible;
  color: red;
}

.input-control.success {
  border: none;
}

.input-control.success small {
  visibility: hidden;
}


/*animations*/

.shakeit {
  animation: shake 5s ease-in-out;
}

.fade {
  animation: fade 5.3s ease-in-out ;
}

.fadein {
  animation: fadeIn 11s ease-in;
}
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-4px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes fade {
    0%, 100% {opacity: 1}
    50% {opacity: 0}

    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(3px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-3px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }

  
@media (min-width: 480px) {
  body {
    padding: 0;
    margin: auto;
    max-width: 100vh;
    min-height: 100vh;
    background: rgb(2, 38, 2);
    background-size: cover;
    align-items: center;
}}



@media (min-width: 769px) { 
  body {
    padding: 0;
    margin: auto;
    max-width: 100vh;
    min-height: 100vh;
    background-image: url(/images/pooltablebackground2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
}